
body {
    --color-primary-1: #0d0d32;
    --color-primary-2: #00d3c5;
    --color-primary-1-overlay-1: #0d0d32a0;
    --color-primary-1-overlay-2: #0d0d32df;
}

#page-nav {
    background-color: var(--color-primary-1);
}

#page-nav .header-top a {
    padding: 5px;
    letter-spacing: 0.05em;
    font-size: 0.95em;
}

#page-nav .header-middle {
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

#page-nav .header-left,
#page-nav .header-left .logo {
    height: 100%;
}

#page-nav .header-left .logo {
    margin: 0;
    padding: 10px 0;
}

#page-nav .header-left .logo img {
    width: auto;
    height: 100%;
}

#page-nav .header-center {
    margin: 0;
}

#page-nav .header-center .main-nav {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

#page-nav .header-center .main-nav .menu {
    justify-content: flex-end;
}

#page-nav .megamenu-container,
#page-nav .menu,
#page-nav .main-nav {
    height: 100%;
}

#page-nav .sf-with-ul,
#page-nav .megamenu-container a {
    letter-spacing: .05em;
    line-height: 100px;
    padding-top: 0;
    padding-bottom: 0;
}

#page-nav .main-nav a.router-link-active {
    color: var(--color-primary-2) !important;
    box-shadow: inset 0 -30px 0 -20px var(--color-primary-2);
}

#page-nav .menu li:not(.megamenu-container) a:not(.sf-with-ul) {
    color: var(--color-primary-1);
    font-weight: 500;
}

#page-nav .sf-with-ul:hover,
#page-nav .sf-with-ul:focus,
#page-nav .megamenu-container a:hover,
#page-nav .megamenu-container a:focus,
#page-nav .header-top a:hover,
#page-nav .header-top a:focus,
#page-nav .menu a:hover,
#page-nav .menu a:focus {
    color: var(--color-primary-2) !important;
}

.slider {
    background-color: var(--color-primary-1-overlay-1);
}

.background {
    background-position: center;
}

.intro .action a {
    color: var(--color-primary-1);
    background-color: var(--color-primary-2);
    font-weight: 600;
}

.intro .action {
    margin-top: 6rem;
}

.intro .title {
    margin-bottom: 0;
}

.intro .title h3 {
    color: var(--color-primary-2);
    font-size: 1.6rem;
    font-weight: 600;
}

#page-nav .header-middle.fixed {
    background-color: var(--color-primary-1-overlay-2);
}
