
body {
    --color-primary-1: #0d0d32;
    --color-primary-2: #00d3c5;
    --color-primary-1-overlay-1: #0d0d32a0;
    --color-primary-1-overlay-2: #0d0d32df;
}

#page-nav {
    background-color: var(--color-primary-1);
}

#page-nav .header-middle {
    height: 100px;
}

#page-nav .header-left .logo img {
    width: 70px;
}

#page-nav .header-center .main-nav {
    padding: 0;
}

.slider {
    background-color: var(--color-primary-1-overlay-1);
}

#page-nav .header-middle.fixed {
    background-color: var(--color-primary-1-overlay-2);
}
